<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.lcis.fr/castav/cdl/CDL"
			class = "fr.lcis.castav.cdl.cDL.CDLPackage"
			genModel = "model/generated/CDL.genmodel" />
	</extension>
</plugin>
