<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.lcis.fr/castav/cdml/CDML"
			class = "fr.lcis.castav.cdml.cDML.CDMLPackage"
			genModel = "model/generated/CDML.genmodel" />
	</extension>
</plugin>
