<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.lcis.fr/castav/vpat/VPAT"
			class = "fr.lcis.castav.vpat.vPAT.VPATPackage"
			genModel = "model/generated/VPAT.genmodel" />
	</extension>
</plugin>
